body {
    background-color: rgb(173, 232, 255) !important;
}

.umimg1 {
    margin-top: 10px;
}

h1 {
    position: relative;
    bottom: 350px;
    left: 655px;
    color: black;
    display: inline-block;
    width: 90px;
    height: 60px;
    background-color: white;
    text-align: center;
}

.btn {
    position: relative;
    bottom: 320px;
    left: 612px;
    padding-left: 40px !important;
    padding-right: 40px !important;
}

.umar {
    margin-top: 50px;
    font-weight: bold;
    font-size: 50px;
    color: rgb(102, 102, 102);
}